:root{
    --color1: black;
    --color2: white;
    --color3: #66bf75;
    --color4: #202121;
}
body{
    margin: 0;
    image-rendering: pixelated;
    background-color: var(--color1);
    font-size: 16px;
    color: var(--color2);
    font-family: PIXEARG, monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none; 
}

header{
    margin-top: 28px;
    background-color: var(--color4);
    display: flex;
    font-family: techno;
    flex-wrap: wrap;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
}
header>*{
    flex: 1;
}
header .logo img{
    height: 25px;
    cursor: pointer;
    margin: 2px 92px;
}
footer{
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    text-align: center;
    font-family: techno;
    padding-bottom: 32px;
}

#address{
    cursor: pointer;
    float: right;
    padding:3px 10px;
}
.bar{
    background-color: var(--color4);
    margin:16px auto;
}
.overlay{
    cursor: pointer;
    background-color: rgba(0 0 0 0.5);
}
.loader{
    margin: 128px 19vw;
    width: 120px;
}
.button{
    font-size: 16px;
    cursor: pointer;
    padding: 4px;
}
.button:hover{
    color: #66bf75;
}
.buttons{
    margin-left: 28vw;
    height: min-content;
    text-align: left;
}
.buttons>a svg{
    margin-top: 2px;
}
.title{
    width: 444px;
    margin: 38px auto;

    /* -webkit-filter: drop-shadow(6px 6px 0 black)
                    drop-shadow(-6px -6px 0 black);
    filter: drop-shadow(6px 6px 0 black) 
            drop-shadow(-6px -6px 0 black); */
}
#frameImg{
    user-select: none;
    pointer-events: none;
    z-index: 10;
}
.frame>img, .frame #dungeon{
    position: absolute;
    width: 990px;
    left: calc(50% - 495px);
    top:96px;
    
}
.frame #dungeon{
    box-sizing: border-box;
    padding: 78px 54px;
    text-align: center;
}
.frame .button{
    background-image: url("../assets/ui/button_main.png");
    
    margin: auto;
    width: 246px;
    height: 135px;
    background-size: 100%;
    padding: 56px;
    text-align: center;
    box-sizing: border-box;
}
.frame .button.v2{
    background-image: url("../assets/ui/buttons_side.png");
    width: 234px;
    height: 134px;
    background-size: 100%;
    padding: 52px;
    margin: 16px 0;
}
.button.main{
    position: absolute;
    top: 618px;
    left: 372px;
    z-index: 12;
}
.button.simple{
    background-image: none;
    background-color: rgb(59, 59, 59);
    margin: auto;
    padding: 4px 0;
    width: max-content;
    height: max-content;
    margin:8px auto;
    

}
.leftSide{
    position: absolute;
    left: calc(-25vw + 210px);
    top: 128px;

}
.rightSide{
    position: absolute;
    right: calc(-25vw + 210px);
    top: 128px;

}
#skulls{
    
    height: 540px;
    overflow: auto;
    padding: 0 134px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#skulls::-webkit-scrollbar {
    display: none;
  }
.skull{
    background-image: url(../assets/ui/skull_frame.png);
    margin: 0;
    width: 153px;
    height: 192px;
    background-size: 100%;
    padding: 4px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.471);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}
.clickableOverlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    cursor: pointer;
}
#popupFrame{
   position: absolute; 
}
.popupFrame{
    position: absolute;
    left: calc(50vw - 267px);
    top: 300px;
    width: 534px;
    z-index: 9;
}#popup{
    position: absolute;
    background-color: black;
    left: calc(50vw - 250px);
    top: 312px;
    width: 500px;
    height: 180px;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupFrame img{
    width: 534px;
    z-index: 9;
}
.skull img{
    width: 117px;
    margin: 14px;
}
.flex{
    display: flex;
}
.flex>*{
    flex:1;
}
.flex>.flex2{
    flex:2;
}
.bg{
    width: 920px;
    position: absolute;
    top: 28px;
    left: 34px;
    z-index: -1;
    clip-path: polygon(0% 8%,100% 8%,100% 100%,0% 100%);
}
.qodef-m-holder, .qodef-m-icon{
    float: left;
    width: max-content;
}
p{
    font-size: 8px;
    line-height: 3;
    letter-spacing: 2px;
    text-align: left;
    margin: 0 16px;
}
h1, h2, h3{
    font-family: PixEng;
    
    margin: 4px;
    font-weight: 100;
}
h1{
    margin: 34px auto;
    font-size: 48px;
}
#popup h3{
    font-size: 36px;
    text-align: center;
    margin: 58px auto;
}
@font-face {
    font-family: PixEng;
    src: url("../fonts/Pixeled\ English\ Font.ttf");
}
@font-face {
    font-family: PIXEARG;
    src: url("../fonts/PIXEARG_.TTF");
}
@font-face {
    font-family: techno;
    src: url("../fonts/technofosiano.ttf");
}