:root{
    --color1: black;
    --color2: white;
}
body{
    image-rendering: pixelated;
    background-color: var(--color1);
    font-size: 16px;
    color: var(--color2);
    font-family: PIXEARG, monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-wrap: wrap;
}
header>*{
    flex: 1;
}
header .logo img{
    height: 28px;
    cursor: pointer;
    margin: 8px;
}
#address{
    cursor: pointer;
    float: right;
    right: 0;
    padding:10px;
}
.loader{
    margin: 128px 19vw;
    width: 4vw;
}
.button{
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}
.title{
    width: 30vw;
    margin-left: 6vw;
    margin-top:32px;

    -webkit-filter: drop-shadow(6px 6px 0 black)
                    drop-shadow(-6px -6px 0 black);
    filter: drop-shadow(6px 6px 0 black) 
            drop-shadow(-6px -6px 0 black);
}
.frame>img, .frame #dungeon{
    position: absolute;
    width: 50vw;
    left: 25vw;
    top:64px;
}
.frame #dungeon{
    padding: 4vw;
    box-sizing: border-box;
}
.frame .button{
    background-image: url("../assets/ui/button_main.png");
    
    margin: auto;
    width: 164px;
    height: 90px;
    background-size: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}
.button.main{
    position: absolute;
    top: calc(34.5vw - 45px);
    left: calc(25vw - 82px);
}
.button.simple{
    background-image: none;
    background-color: rgb(59, 59, 59);
    margin: auto;
    padding: 4px 0;
    width: max-content;
    height: max-content;
    margin:8px auto;
    

}
.skull{
    background-color: gray;
    width: 128px;
    text-align: center;
    margin: 16px;
}
.skull img{
    width: 80%;
    margin: 10%;
}
.flex{
    display: flex;
}
.flex>div{
    flex:1;
}
.flex>.flex2{
    flex:2;
}
.bg{
    width: 92%;
    position: absolute;
    left: 34px;
    z-index: -1;
}
p{
    font-size: 8px;
    line-height: 3;
    letter-spacing: 2px;
}
@font-face {
    font-family: PixEng;
    src: url("../fonts/Pixeled\ English\ Font.ttf");
}
@font-face {
    font-family: PIXEARG;
    src: url("../fonts/PIXEARG_.TTF");
}